/**
 * 按钮基本样式
 * -------------------------------------------------
 */
.btn {
  display: inline-block;
  padding: 0.05rem 0.1rem;
  margin-bottom: 0;
  font-size: 0.2rem;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border-radius: 0.04rem;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn.disabled,
.btn[disabled], {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}
a.btn.disabled,{
  pointer-events: none;
}

.btn.btn-icon-right{
  padding-right: 0.46rem;
  position: relative;
}

/**
 * 默认按钮样式
 * -------------------------------------------------
 */
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:focus,
.btn-default.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
.btn-default.disabled.active,
.btn-default[disabled].active {
  background-color: #fff;
  border-color: #ccc;
}
.btn-default .badge {
  color: #fff;
  background-color: #333;
}

/**
 * 3d按钮
 */
.btn-3d{
    padding: 0;
    height: 0.56rem;
    width: 1rem;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    font-size: 0.3rem;
    background: url(../images/btn.png) no-repeat center center;
    background-size: 100% 100%;
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
}

/**
 * 多选按钮
 */
.btn-checkbox{
    display: block;
    width: 27.5%;
    height: 0.88rem;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    line-height: 0.32rem;
    border: 1px solid #949494;
    color: #282828;
    border-radius: 0.08rem;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    padding: 0 0.2rem;
    font-size: 0.28rem;
}
.btn-checkbox.disable{
    border: 1px solid #dcdcdc;
    color: #ddd;
}
.btn-checkbox.selected{
    background:url(../images/selected_bg.png) no-repeat;
    background-position:50% 50%;
    background-size: cover;
    color:#fff;
    border-color:transparent;
}