/**
 * 回到顶部按钮
 * -------------------------------------------------
 */
.go-top{
    width: 0.8rem;
    height: 0.8rem;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    border: 1px solid #7f7f7f;
    position: absolute;
    bottom: 0.16rem;
    right: 0.18rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    background-clip: padding-box;
}
.go-top p.count span{
    display: block;
    text-align: center;
    line-height: 0.19rem;
    width: 0.66rem;
}
.go-top p.count span:first-child{
    border-bottom: 1px solid #000;
    padding-bottom: 0.08rem;
}
.go-top p.count span:last-child{
    padding-top: 0.08rem;
}
.go-top p.count, .go-top .back{
    color: #000;
    font-size: 0.24rem;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.go-top .back{
    padding-top: 0.28rem;
}
.go-top .ion-arrow-up{
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 0.25rem;
    height: 0.28rem;
    background-size: 0.25rem 0.28rem;
}
.go-top .back .arrow-ion{
    height: 0.28rem;
}
.go-top .back .back-text{
    white-space: nowrap;
    padding-top:
}
.go-top .back .font-icon{
    text-align: center;
    width: 0.25rem;
    line-height: 0.2rem;
    font-size: 0.32rem;
    border-top: 1px solid #000;
}
