/**
 * 回到顶部按钮
 * -------------------------------------------------
 */
.go-top-box{
    position: fixed;
    width: 1rem;
    height: 1rem;
    right: 0;
    bottom: 0;
    border: 1px solid red;
}
.go-top{
    width: 0.7rem;
    height: 0.7rem;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    border: 1px solid #a7a6a6;
    position: fixed;
    bottom: 0.16rem;
    right: 0.18rem;
    background-color: rgba(255, 255, 255, .9);
    border-radius: 50%;
    background-clip: padding-box;
    z-index: 10;
}
.go-top p.count span{
    display: block;
    text-align: center;
    line-height: 0.19rem;
    width: 0.56rem;
}
.go-top p.count span:first-child{
    border-bottom: 1px solid #000;
    padding-bottom: 0.08rem;
}
.go-top p.count span:last-child{
    padding-top: 0.08rem;
}
.go-top p.count, .go-top .back{
    color: #000;
    font-size: 0.18rem;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.go-top .back{
    /*padding-top: 0.28rem;*/
    width: 0.7rem;
    height: 0.7rem;
}
.go-top .ion-arrow-up{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.33rem;
    height: 0.48rem;
    margin: -0.24rem 0 0 -0.15rem;
    background-size: 0.33rem 0.48rem;
}
.go-top .back .arrow-ion{
    height: 0.28rem;
}
.go-top .back .back-text{
    white-space: nowrap;
    padding-top:
}
.go-top .back .font-icon{
    text-align: center;
    width: 0.25rem;
    line-height: 0.2rem;
    font-size: 0.32rem;
    border-top: 1px solid #000;
}
