@font-face { 
	font-family: "Redicons"; 
	src: url("../fonts/ionicons.ttf?v=2.0.0") format("truetype");
	font-weight: normal; 
	font-style: normal; 
}
.font-icon{
	display: inline-block;
    font-family: "Redicons";
    speak: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.ion-scissors:after{
	content: '\f34b';
}
.ion-ios-circle-outline:after{
	content: '\f401';
}
.ion-android-arrow-dropright:after{
	content: '\f363';
}
.ion-time:after{
	content: '\f3b3';
}
.ion-gift{
	display: inline-block;
	background: url(../images/icon/gift.png) no-repeat left top;
}
.ion-android-done:after{
	content: '\f383';
}
.ion-sort{
	display: inline-block;
}
.ion-sort:after, .ion-sort:before{
	display: block;
	line-height: 0.1rem;
	width: 0.16rem;
	font-size: 0.3rem;
}
.ion-sort:after{
	content: '\f35f';
}
.ion-sort:before{
	content: '\f365';
}
.ion-ios-arrow-thin-up:after{
	content: '\f3d7';
}
.ion-android-arrow-up:after{
	content: '\f366';
}
.icon-filter{
	display: inline-block;
	background: url(../images/icon/filter.png) no-repeat left top;
}