.ion-gift{
	display: inline-block;
	background: url(../images/icon/gift.png) no-repeat left top;
}
.icon-filter{
	display: inline-block;
	background: url(../images/icon/filter.png) no-repeat left top;
}
.ion-tick{
	display: inline-block;
	background: url(../images/icon/tick.png) no-repeat center center;
}
.ion-tick-black{
	display: inline-block;
	background: url(../images/icon/tick_black.png) no-repeat center center;
}
.ion-arrow-up{
	display: inline-block;
	background: url(../images/icon/arrow_up.png) no-repeat center center;
}
.ion-cut{
	display: inline-block;
	background: url(../images/icon/cut.png) no-repeat left top;
}
.ion-cut.cut-gray{
	background: url(../images/icon/cut_gray.png) no-repeat left top;
}
.ion-pass{
	display: inline-block;
	background: url(../images/icon/pass.png) no-repeat left top;
}
.ion-tris{
	position: relative;
	display: inline-block;
	text-align: left;
}
.ion-tris:before{
	content: "\20";
	position: absolute;
	top: 0;
	border-width: 0.09rem;
	border-top-width: 0;
	border-color: transparent transparent #ababab transparent;
	border-style: dashed dashed solid dashed
}
.ion-tris:after{
	position: absolute;
	content: "\20";
	bottom: 0;
	border-width: 0.09rem;
	border-bottom-width: 0;
	border-color: #ababab transparent transparent transparent;
	border-style: solid dashed dashed dashed
}
