.navbar {
	margin-bottom: 0;
}
.container{
	margin: 0;
	padding: 0;
}
.bs-docs-section img{
	width: 100%;
}
.row {
	margin-right: 0;
	margin-left: 0;
}

@media (min-width: 1200px)
.container {
	width: 0;
}
@media (min-width: 992px)
.container {
	width: 0;
}
@media (min-width: 768px)
.container {
	width: 0;
}