/**
 * 活动title
 * -------------------------------------------------
 */
.red-activity-title{
    text-align: left;
    line-height: normal;
    font-size: 0.27rem;
    color: #313131;
}

/**
 * 广告title
 * -------------------------------------------------
 */
.red-advertisements-title{
    text-align: center;
    line-height: normal;
    font-size: 0.27rem;
    color: #313131;
}