.coupon-row{
	display: -ms-box;
	display: -webkit-box;
	display: box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	height: 1.1rem;
}
.coupon-row .coupon-col{
	display: block;
	-ms-box-flex: 1;
	-webkit-box-flex: 1;
	box-flex: 1;
	-ms-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	height: 100%;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	background: #f76275;
	position: relative;
}
.coupon-row .coupon-col.timeout{
	background: #e8e8e8;
}
.coupon-row .coupon-price{
	position: absolute;
	top: 0;
	left: 0;
	width: 1.24rem;
}
.coupon-row .coupon-price p{
	height: 1.1rem;
	line-height: 1.1rem;
	text-align: center;
	font-size: 0.48rem;
	color: #fff;
}
.coupon-row .coupon-col.timeout .coupon-price p{
	color: #a7a7a7;
}
.coupon-row .line{
	position: absolute;
	border-right: 1px dashed #fff;
	right: 0;
	bottom: 0;
	top: 0.24rem;
}
.coupon-row .coupon-col.timeout .line{
	border-right: 1px dashed #a7a7a7;
}
.coupon-row .coupon-price .font-icon{
	color: #fff;
	font-size: 0.22rem;
	position: absolute;
	top: 0;
	right: 0;
	-webkit-transform: rotate(200deg) translateX(-60%);
	transform: rotate(200deg) translateX(-60%);
}
.coupon-row .coupon-col.timeout .font-icon{
	color: #a7a7a7;
}
.coupon-row .price-type{
	font-size: 0.24rem;
}
.coupon-row .coupon-info{
	font-size: 0;
}
.coupon-row .coupon-info .ion-arrow-outline{
	font-size: 0.24rem;
	position: absolute;
	right: 0.1rem;
	top: 50%;
	width: 0.2rem;
	height: 0.2rem;
	background: #ccc;
	background: url(../images/icon/arrow_out_line.png) no-repeat left top;
	background-size: 0.19rem 0.19rem;
	-webkit-transform: translateY(-50%);
}
.coupon-row .coupon-col.timeout .ion-arrow-outline{
	background: url(../images/icon/arrow_out_line_wihte.png) no-repeat left top;
	background-size: 0.19rem 0.19rem;
}
.coupon-row .btn{
	line-height: 0.24rem;
	position: relative;
	color: #f76275;
}
.coupon-row .coupon-col.timeout .btn{
	color: #fff;
	background: #a7a7a7;
}
.coupon-row .info-text{
	font-size: 0.24rem;
	color: #fff;
	padding-bottom: 0.1rem;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

.coupon-row .coupon-col.timeout .info-text{
	color: #a7a7a7;
}
.coupon-row .info-text p{
	line-height: 0.24rem;
}
.coupon-row.two-col .coupon-col{
	padding: 0.1rem 0 0.1rem 1.54rem;
}
.coupon-row.two-col .coupon-col:first-child{
	margin-right: 0.05rem;
}
.coupon-row.one-col .coupon-col{
	padding: 0 0 0 1.54rem;
}
.coupon-row.one-col .coupon-info{
	height: 100%;
	padding-right: 1.6rem;
	position: relative;
}
.coupon-row.one-col .coupon-info .btn{
	position: absolute;
	right: 0.3rem;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.coupon-row.one-col .info-text{
	padding: 0.3rem 0 0.3rem 0;
	height: 100%;
	line-height: 1.1rem
}

/**
 * 商品列表操作按钮
 */
.red-operate{
	border-bottom: 1px solid #c0c0c0;
	display: -ms-box;
	display: -webkit-box;
	display: box;
}
.red-operate a{
	display: block;
	-ms-box-flex: 1;
	-webkit-box-flex: 1;
	box-flex: 1;
	font-size: 0.27rem;
	text-align: center;
	padding: 0.16rem 0;
	color: #000;
}
.red-operate p{
	border-right: 1px solid #d6d6d6;
	line-height: 0.26rem;
}
.red-operate span{
	display: inline-block;
	vertical-align: middle;
}
.red-operate a:last-child p{
	border-right: none;
}
.red-operate .font-icon{
	vertical-align: middle;
	color: #686868;
	margin-left: 0.12rem;
}
.red-operate a.active, .red-operate a.active .font-icon{
	color: #f9384e
}
.red-operate a.sort-up, .red-operate a.sort-up .font-icon::before{
	color: #f9384e
}
.red-operate a.sort-down, .red-operate a.sort-down .font-icon::after{
	color: #f9384e
}
.red-operate .icon-filter{
	width: 0.2rem;
	height: 0.26rem;
	background-size: 0.2rem 0.26rem;
	margin-left: 0.12rem;
	vertical-align: middle;
}
.red-operate a.active .icon-filter{
	background: url(../images/icon/filter-light.png) no-repeat left top;
	background-size: 0.2rem 0.26rem;
}