/**
 * 页面布局
 */
html, body{
	height: 100%;
	overflow: hidden;
	position: relative;
}
.red-mobile-page{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	-webkit-transition: all 500ms linear;
	transition: all 500ms linear;
}
.scroll-view{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background: #fff;
	top: 0;
	overflow: hidden;
}
.view-scroller{
	background: #fff;
}
.jd-nav{
	font-size: 12px;
	background: #fff;
}

.fix-top{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}
.fix-top-hiden{
	z-index: -1;
}

/**
 * 优惠券
 */
.coupon-row{
	display: -ms-box;
	display: -webkit-box;
	display: box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	height: 1.1rem;
}
.coupon-row .coupon-col{
	display: block;
	-ms-box-flex: 1;
	-webkit-box-flex: 1;
	box-flex: 1;
	-ms-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	height: 100%;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	background: #f76275;
	position: relative;
}
.coupon-row .coupon-col.timeout{
	background: #e8e8e8;
}
.coupon-row .coupon-price{
	position: absolute;
	top: 0;
	left: 0;
	width: 1.24rem;
}
.coupon-row .coupon-price p{
	height: 1.1rem;
	line-height: 1.1rem;
	text-align: center;
	font-size: 0.48rem;
	color: #fff;
}
.coupon-row .coupon-col.timeout .coupon-price p{
	color: #a7a7a7;
}
.coupon-row .line{
	position: absolute;
	border-right: 1px dashed #fff;
	right: 0;
	bottom: 0;
	top: 0.24rem;
}
.coupon-row .coupon-col.timeout .line{
	border-right: 1px dashed #a7a7a7;
}
.coupon-row .coupon-price .ion-cut{
	color: #fff;
	font-size: 0.22rem;
	position: absolute;
	top: 0;
	right: -0.16rem;
	width: 0.24rem;
	height: 0.26rem;
	background-size: 0.24rem 0.26rem;
}
.coupon-row .coupon-col.timeout .font-icon{
	color: #a7a7a7;
}
.coupon-row .price-type{
	font-size: 0.24rem;
}
.coupon-row .coupon-info{
	font-size: 0;
}
.coupon-row .coupon-info .ion-arrow-outline{
	font-size: 0.24rem;
	position: absolute;
	right: 0.1rem;
	top: 50%;
	width: 0.2rem;
	height: 0.2rem;
	background: #ccc;
	background: url(../images/icon/arrow_out_line.png) no-repeat left top;
	background-size: 0.19rem 0.19rem;
	-webkit-transform: translateY(-50%);
}
.coupon-row .coupon-col.timeout .ion-arrow-outline{
	background: url(../images/icon/arrow_out_line_wihte.png) no-repeat left top;
	background-size: 0.19rem 0.19rem;
}
.coupon-row .btn{
	line-height: 0.24rem;
	position: relative;
	color: #f76275;
}
.coupon-row .coupon-col.timeout .btn{
	color: #fff;
	background: #a7a7a7;
}
.coupon-row .info-text{
	font-size: 0.24rem;
	color: #fff;
	padding-bottom: 0.1rem;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

.coupon-row .coupon-col.timeout .info-text{
	color: #a7a7a7;
}
.coupon-row .info-text p{
	line-height: 0.24rem;
}
.coupon-row.two-col .coupon-col{
	padding: 0.1rem 0 0.1rem 1.54rem;
}
.coupon-row.two-col .coupon-col:first-child{
	margin-right: 0.05rem;
}
.coupon-row.one-col .coupon-col{
	padding: 0 0 0 1.54rem;
}
.coupon-row.one-col .coupon-info{
	height: 100%;
	padding-right: 1.6rem;
	position: relative;
}
.coupon-row.one-col .coupon-info .btn{
	position: absolute;
	right: 0.3rem;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.coupon-row.one-col .info-text{
	padding: 0.3rem 0 0.3rem 0;
	height: 100%;
	line-height: 1.1rem
}

/**
 * 商品列表操作按钮
 */
.red-operate{
	border-bottom: 1px solid #c0c0c0;
	display: -ms-box;
	display: -webkit-box;
	display: box;
	background: #fff;
}
.red-operate a{
	display: block;
	-ms-box-flex: 1;
	-webkit-box-flex: 1;
	box-flex: 1;
	font-size: 0.27rem;
	text-align: center;
	padding: 0.16rem 0;
	color: #000;
}
.red-operate p{
	border-right: 1px solid #d6d6d6;
	line-height: 0.26rem;
}
.red-operate span{
	display: inline-block;
	vertical-align: middle;
}
.red-operate .has-goods-btn span{
	padding-right: 0.3rem;
	position: relative;
}
.red-operate .ion-pass{
	width: 0.2rem;
	height: 0.16rem;
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	background-size: 0.2rem 0.16rem;
}
.red-operate .ion-tris{
	width: 0.16rem;
	height: 0.2rem;
	vertical-align: middle;
	padding-left: 0.12rem;
}
.red-operate a:last-child p{
	border-right: none;
}
.red-operate a.active{
	color: #f9384e
}
.red-operate a.sort-up{
	color: #f9384e
}
.red-operate a.sort-up .ion-tris::before{
	border-color: transparent transparent #f9384e transparent;
}
.red-operate a.sort-down{
	color: #f9384e
}
.red-operate a.sort-down .ion-tris::after{
	border-color: #f9384e transparent transparent transparent;
}
.red-operate .icon-filter{
	width: 0.2rem;
	height: 0.26rem;
	background-size: 0.2rem 0.26rem;
	margin-left: 0.12rem;
	vertical-align: middle;
}
.red-operate a.active .icon-filter{
	background: url(../images/icon/filter-light.png) no-repeat left top;
	background-size: 0.2rem 0.26rem;
}
.red-operate a.active .ion-pass{
	background: url(../images/icon/pass_light.png) no-repeat left top;
	background-size: 0.2rem 0.16rem;
}

/**
 * 商品优惠信息
 */
.goods-info{
	padding: 0.15rem 0.12rem;
	margin-bottom: 0.2rem;
	background: #fff;
}
.goods-info p{
	line-height: 0.18rem;
}
.goods-info .gift-info{
	position: relative;
}
.goods-info .ion-gift{
	width: 0.24rem;
	height: 0.24rem;
	background-size: 0.24rem 0.24rem;
	position: absolute; 
	left: 0;
	top: 50%;
	margin-top: -0.12rem;
}
.goods-info .ion-time{
	margin-right: 0.08rem;
	font-size: 0.2rem;
	vertical-align: middle;
}
.gift-info{
	color: #fc3451;
	font-size: 0.2rem;
	float: left;
	padding-left: 0.32rem;
}
.gift-info span{
	vertical-align: middle;
}
.count-down{
	font-size: 0.2rem;
	color: #000;
	float: right;
	padding-left: 0.3rem;
	position: relative;
}
.count-down span{
	display: inline-block;
	vertical-align: middle;
}
.count-down em{
	font-weight: normal;
}
.count-down.waring .font-icon, .count-down.waring em{
	color: #ffdb14;
}
.count-down .ion-tick-black{
	width: 0.2rem;
	height: 0.2rem;
	position: absolute;
	left: 0;
	top: 0;
	background-size: 0.2rem 0.2rem;
}

/**
 * 商品列表
 */
.goods-list{
	/*padding: 0 0.05rem;*/
	overflow: hidden;
	padding-left: 0.1rem;
}
.goods-list a{
	display: block;
	float: left;
	/*margin: 0 0.05rem 0.1rem 0.05rem;*/
	width: 3.05rem;
	overflow: hidden;
	margin-right: 0.1rem;
}
.goods-list .goods-img{
	position: relative;
	/*height: 3.92rem;*/
	overflow: hidden;
}
.goods-list .goods-waring{
	width: 0.68rem;
	height: 0.69rem;
	background: url(../images/icon/goods_waring.png) no-repeat left top;
	background-size: 0.68rem 0.69rem;
	position: absolute;
	right: 0.1rem;
	top: 0.1rem;
	font-size: 0.18rem;
	color: #fff;
	z-index: 10;
	padding-top: 0.14rem;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
.goods-list .goods-waring p{
	text-align: center;
}
.goods-list .dry-up:after{
	position: absolute;
	width: 1rem;
	height: 1rem;
	text-align: center;
	line-height: 1rem;
	font-size: 0.24rem;
	background: rgba(0, 0, 0, .6);
	color: #fff;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	content: '已抢光';
	border-radius: 50%;
}
.goods-list img{
	display: block;
	width: 100%;
}
.goods-list .goods-name{
	color: #000;
	font-size: 0.2rem;
	text-align: left;
	padding: 0.15rem 0 0.15rem 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.goods-list .new-price{
	font-size: 0.36rem;
	color: #f9384e;
	line-height: 0.27rem;
	padding-bottom: 0.1rem;
}
.goods-list .price-type{
	display: inline-block;
	vertical-align: bottom;
	font-size: 0.24rem;
	height: 0.22rem;
}
.goods-list .new-price-number{
	display: inline-block;
	vertical-align: bottom;
	padding-right: 0.2rem;
}
.goods-list .discount{
	display: inline-block;
	font-size: 0.2rem;
	background: #f9384e;
	width: 0.6rem;
	height: 0.26rem;
	line-height: 0.26rem;
	text-align: center;
	border-radius: 0.04rem;
	color: #fff;
	vertical-align: bottom;
}
.goods-list .price-type{
	font-size: 0.24rem;
}
.goods-list .old-price{
	font-size: 0.2rem;
	color: #969696;
	text-decoration: line-through;
	padding-bottom: 0.15rem;
}
.goods-list .old-price-info{
	display: inline-block;
	padding-right: 0.1rem;
}

/**
 * 筛选模态框样式
 */
.filter-mask{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 9998;
}
.filter-modal{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 9999;
	-webkit-transform: translate(100%, 0);
	transform: translate(100%, 0);
	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	background: #fff;
}
.filter-modal.filter-content-show{
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}
.filter-modal header{
	padding: 0.2rem;
	overflow: hidden;
	position: relative;
	border-bottom: 1px solid #d6d6d6;
	background: #fff;
}
.filter-modal h3{
	font-size: 0.3rem;
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.filter-modal .filter-content-box{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	padding: 0rem 0.28rem 0.28rem 0.28rem;
	margin-top: 0.96rem;
	overflow: hidden;
}
.filter-modal .filter-content{
	padding-top: 0.28rem;
}
.filter-modal .filter-content h4{
	font-size: 0.3rem;
	text-align: left;
	padding-bottom: 0.28rem;
	border-bottom: 1px solid #ccc;
}
.filter-modal .type-group{
	padding-top: 0.32rem;
}
.filter-modal .btn-checkbox{
	float: left;
    margin-bottom: 0.44rem;
    margin-right: 8.5%;
}
.filter-modal .btn-checkbox:active{
	background: #ddd;
}
.filter-modal .btn-checkbox:nth-child(3n){
	margin-right: 0;
}